<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>

<h:body>
	<div >
		<h1>Warehouse Web</h1>
	</div>

	<b:navBar brand="#{mbLogin.user.login}">
		<b:navbarLinks>
			<b:navLink value="Accueil" icon-awesome="home" href="index.xhtml" />
			<b:navLink value="Mon Compte" icon-awesome="user" href="userView.xhtml" rendered = "#{mbLogin.isConnected()}"/>			
			<b:navLink value="Connexion" icon-awesome="key" href="login.xhtml" />
			<!--  <b:navLink value="Contact"  icon-awesome="phone" href="contactInfo.xhtml" />	-->													
		</b:navbarLinks>
	</b:navBar>

	<b:container>
		<b:row>
			<b:column style-class="cat-content">
				<ui:insert name="content">
			    </ui:insert>
			</b:column>
		</b:row>
	</b:container>
	
	

	<div id="footer" class="cat-footer cat-flex-justify-content cat-flex-align-items">
		<h3>Warehouse Web - 2022</h3>
		<ul>
		   <li>
		       <p>EQL AI110 &copy; 2022 All Rights Reserved</p>
		   </li>
		   <li>
		       <p>Tele: 0101010101</p>
		   </li>   
		</ul>		
	</div>
</h:body>


</html>