<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>NewUser</title>
		<f:metadata>
			<f:event listener="#{mbLogin.disconnect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">
		<b:form id="createForm">
		<b:alert severity="info"><strong>Hello!</strong> Welcome to create your new account. </b:alert>          
			<b:panel style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Identifiant " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Identifiant " />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText 
						id="inpLogin" 
						placeholder="Veuillez entrer un identifiant"
						value="#{mbUser.login}">
							<f:facet name="prepend">
								<b:icon name="user"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpLogin"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpPwd" 
						placeholder="Veuillez entrer un mot de passe"
						value="#{mbUser.pwd}">
							<f:facet name="prepend">
								<b:iconAwesome name="key"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpPwd"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Votre etes : " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Votre etes : " />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<p:selectOneMenu 
						id="inpUsertype" 
						placeholder="Veuillez entrer votre objectif : client / partenaire"
						value="#{mbUser.usertype}">
							<f:facet name="prepend">
								<b:iconAwesome name="fa-group"/>
							</f:facet>
							<f:selectItem id="ddluTypes" value="#{mbUser.selectedUType}"
							   itemLabel="Choisissez :"
							   itemValue=""
							   noSelectionOption="true" />
							 <f:selectItems value = "#{mbUser.uTypes}" />
						</p:selectOneMenu>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpUsertype"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Numero telephone" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Numero telephone" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText 
						id="inpPhone" 
						placeholder="Veuillez entrer votre objectif : client / partenaire"
						value="#{mbUser.phone}">
							<f:facet name="prepend">
								<b:iconAwesome name="globe" solid="true" />					
							</f:facet>
							<f:facet name="input">							
                                 <p:inputNumber value="#{mbUser.phone}"/>
                             </f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpPhone"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Description" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Description" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText 
						id="inpMemo" 
						placeholder="Veuillez entrer votre objectif : client / partenaire"
						value="#{mbUser.memo}">
							<f:facet name="prepend">
								<b:iconAwesome name="pencil" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpMemo"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton 
						style-class="cat-width-100"
						value="Créer" 
						action="#{mbUser.addPart()}" >
						</b:commandButton>
					</b:column>
					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton 
						style-class="cat-width-100"
						value="Retourner" 
						action="#{mbUser.disconnect()}" />
					</b:column>
				</b:row>
			</b:panel> 
		</b:form>		
	</ui:define>
	
</ui:composition>
</html>