<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
  <ui:composition template="/arch.xhtml">
	 <ui:define name="head">
		 <title>Warehouse Web</title>
	 </ui:define>
	 <ui:define name="content" >
	 <h2>Welcome to our Warehouse Web!</h2>
 	  <h:form id="storageListForm" value="#{mbStorage.name}" var="StoName"> 
 	  	<b:panel style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">	   
 	        <b:row>
 	          <b:column>
                <h:outputLabel for="storagename">Rechercher votre storage-entrepot : </h:outputLabel> 
              </b:column>
              <b:column>
                <h:inputText id="storagename"         
                     value="#{StoName}" 
                     required="true" requiredMessage="Storagename is required"/> 
              </b:column>
            </b:row>
            <b:row>
             <b:column>           
               <h:commandButton id="submit-button" value="Rechercher" action="storageList" render ="#{mbStorage.getByName(StoName)}"/>  
              </b:column>
            </b:row>
           </b:panel> 
       </h:form>	          
       <br/>
	 </ui:define>   	  	
  </ui:composition>  
</html>