<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Products</title>
		<f:metadata>
			<f:event listener="#{mbLogin.connect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">
		<b:form id="createProductForm" value="#{mbStorage.connectedStorage}" var="sto">
		<b:alert severity="info"><strong>Hello! #{mbLogin.user.login}!</strong> Welcome to make your products. </b:alert>          
			<b:panel style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nom produit " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Nom produit " />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText 
						id="inpName" 
						placeholder="Veuillez entrer le nom produit"
						value="#{mbProduct.connectedProduct.name}">
							<f:facet name="prepend">
								<b:icon name="user"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpName"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Prix d'un produit " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Prix d'un produit" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpPrice" 
						placeholder="Veuillez entrer le prix d'un produit"
						value="#{mbProduct.connectedProduct.price}">
							<f:facet name="prepend">
								<b:iconAwesome name="euro"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpPrice"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Fabrique en  " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Fabrique en " />
					</b:column>
				<p:selectOneMenu 
						id="inpMadein" 
						placeholder="Veuillez entrer votre countries"
						value="#{mbProduct.connectedProduct.madein}">
							<f:facet name="prepend">
								<b:iconAwesome name="fa-group"/>
							</f:facet>
							<f:selectItem id="ddlcountries" value="#{mbProduct.selectedCountry}"
							   itemLabel="Choisissez :"
							   itemValue=""
							   noSelectionOption="true" />
							 <f:selectItems value = "#{mbProduct.countries}" />
						</p:selectOneMenu>
				</b:row>										
				<b:row>
					<b:column>
						<b:message for="inpMadein"/>
					</b:column>
				</b:row>				
				
				
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nombre de produit " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Nombre de produit " />
					</b:column>
						<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpQuantity" 
						placeholder="Veuillez entrer le nombre de produit"
						value="#{mbProduct.connectedProduct.quantity}">
							<f:facet name="prepend">
								<b:iconAwesome name="fa-newspaper-o"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpQuantity"/>
					</b:column>
				</b:row>
	
    			<b:row>
					<b:column>       
                       <b:datepicker id="inpDat" mode="toggle-icon" showWeek="true"
                        firstDay="1" value="#{mbProduct.connectedProduct.bookingdate}" required="true"
                        label="Date de reservation" col-sm="3"/>
                    </b:column>                    
					<b:column>
                       <b:message for="inpDat" col-sm="10" />
					</b:column>
				</b:row>
				<b:row>	
					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton 
						style-class="cat-width-100"
						value="Ajouter" 
						action="#{mbProduct.insert()}" >
						</b:commandButton>
					</b:column>
					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton 
						style-class="cat-width-100"
						value="Modifier" 
						action="#{mbProduct.change()}" />
					</b:column>
				</b:row>
			</b:panel> 
		</b:form>		
	</ui:define>
</ui:composition>
</html>