<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>My Products</title>
		<f:metadata>
			<f:event listener="#{mbLogin.connect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">	 
	<h:form id="productViewForm">
        <b:dataTable value="#{mbProduct.connectedProduct}"
               var="cSto">
             <b:dataTableColumn value="#{cSto.getId()}" label="Id Produit"/>    
             <b:dataTableColumn value="#{cSto.getName()}" label="Nom "/>
             <b:dataTableColumn value="#{cSto.getPrice()}" label="Prix"/>
             <b:dataTableColumn value="#{cSto.getQuantity()}" label="Nb Produits"/>             
             <b:dataTableColumn label="Edit" >
             <p:commandButton icon="pi pi-plus" styleClass="ui-button-success" value = "Editer" action = "/product.xhtml?faces-redirection=true" />              
             </b:dataTableColumn>
        </b:dataTable>
        <div>
              <p:commandButton icon="pi pi-times" styleClass="ui-button-danger"  value = "Suppimer" action = "#{mbProduct.clearUp()}" />                                    
		</div>	
     </h:form>
	</ui:define>
</ui:composition>
</html>