<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
       <title>StorageUpdate</title>
       <f:metadata>
			<f:event listener="#{mbLogin.connect()}" type="preRenderView"></f:event>
	</f:metadata>
	</ui:define>
	<ui:define name="content">
		<h:form id="storageForm" value="#{mbStorage.connectedStorage}" var="sto">
		<b:alert severity="info"><strong>Hello! #{mbLogin.user.login}! </strong> Welcome to update your storage house infos. </b:alert>          
			<b:panel style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nom Entrepot " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Nom Entrepot " /> 
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText 
						id="inpName" 
						placeholder="#{sto.getName}"
						value="#{sto.name}">
							<f:facet name="prepend">
								<b:icon name="home"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpName"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Emplacements disponilbes " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Emplacements disponibles " />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpPlacedisp" 
						placeholder="Veuillez entrer votre emplacements disponilbes"
						value="#{mbStorage.getByName(inpName).placeall-mbStorage.getByName(Name).placeused}">
							<f:facet name="prepend">
								<b:iconAwesome name="archive"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpPlacedisp"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Responsable" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Responsable" />
					</b:column>
						<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpRespuser" 
						placeholder="Veuillez entrer le responsable"
						value="#{mbStorage.getByName(name).respuser}">
							<f:facet name="prepend">
								<b:iconAwesome name="user"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpRespuser"/>
					</b:column>
				</b:row>
	
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Description" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Description" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputTextarea 
						id="inpMemo" 
						placeholder="Veuillez entrer votre objectif : client / partenaire"
						value="#{mbStorage.getByName(name).memo}">
							<f:facet name="prepend">
								<b:iconAwesome name="pencil" />
							</f:facet>
						</b:inputTextarea>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpMemo"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton 
						style-class="cat-width-100"
						value="Modifier" 
						actionListener="#{mbStorage.connectedStorage.user.setId(mbLogin.user.getId())}"
						action="#{mbStorage.update()}" >
						</b:commandButton>
					</b:column>
					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton 
						style-class="cat-width-100"
						value="Retourner" 
						action="#{mbUser.disconnect()}" />
					</b:column>
				</b:row>
			</b:panel> 
		</h:form>		
	</ui:define>	
</ui:composition>
</html>