<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>List of WareHouse</title>
		<f:metadata>
			<f:event listener="#{mbLogin.disconnect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">	 
	
	<h:form id="storageListForm">
        <b:dataTable value="#{mbStorage.getByName(StoName)}"
               var="cSto">
             <b:dataTableColumn value="#{cSto.user.getId()}" label="Id User"/>  
             <b:dataTableColumn value="#{cSto.getId()}" label="Id Storage"/>
             <b:dataTableColumn value="#{cSto.getName()}" label="Nom "/>
             <b:dataTableColumn value="#{cSto.getAddress()}" label="Adresse"/>
             <b:dataTableColumn value="#{cSto.getRespuser()}" label="Responsable"/>
             <b:dataTableColumn value="#{cSto.getMemo()}" label="Description"/>
             <b:dataTableColumn value="#{cSto.getPlaceall()-mbStorage.connectedStorage.getPlaceused()}" label="Nbr Places dispo."/> 
 <!--              <b:dataTableColumn label="Produits" >
                   <p:commandLink value = "Voir" look="primary" action = "productList.xhtml?faces-redirection=true" /> 
             </b:dataTableColumn> -->           
        </b:dataTable>
     </h:form>
	</ui:define>
</ui:composition>
</html>