<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>My Warehouse</title>
		<f:metadata>
			<f:event listener="#{mbLogin.connect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">	 
	<h:form id="storageViewForm">
        <b:dataTable value="#{mbStorage.connectedStorage}"
               var="cSto">                               
             <b:dataTableColumn value="#{cSto.getId()}" label="Id Storage"/>    
             <b:dataTableColumn value="#{cSto.getName()}" label="Nom "/>
             <b:dataTableColumn value="#{cSto.getAddress()}" label="Addresse"/>             
             <b:dataTableColumn value="#{cSto.getRespuser()}" label="Responsable"/>
             <b:dataTableColumn value="#{cSto.getPlaceall()}" label="Nombre Emplacements" />            
             <b:dataTableColumn label="Edit" >
               <b:commandButton icon="plus" styleClass="ui-button-success" value="Creer" action="storage"/>                
             </b:dataTableColumn>
        </b:dataTable>
<!--        <div>
               <p:commandButton icon="pi pi-times" styleClass="ui-button-danger"  value="Suppimer" action ="#{mbStorage.clearUp(mbStorage.connectedStorage)}" />                                    
		</div>	 --> 
     </h:form>
	</ui:define>
</ui:composition>
</html>