<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
       <title>Warehouse</title>
       	<f:metadata>
			<f:event listener="#{mbLogin.connect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">
		<h:form id="createStorageForm" value="#{mbStorage.connectedStorage}" var ="cStr">
		<b:alert severity="info"><strong>Hello! #{mbLogin.user.login}!</strong> Welcome to manage your warehouse. </b:alert>          
			<b:panel style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nom " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Nom " />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText 
						id="inpName" 
						placeholder="Veuillez entrer le nom Entrepot"
						value="#{mbStorage.connectedStorage.name}">
							<f:facet name="prepend">
								<b:icon name="globe"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpName"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Adresse " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Adresse" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpAddress" 
						placeholder="Veuillez entrer votre adresse"
						value="#{mbStorage.connectedStorage.address}">
							<f:facet name="prepend">
								<b:iconAwesome name="home"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpAddress"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Responsable  " />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Responsable " />
					</b:column>
						<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpRespuser" 
						placeholder="Veuillez entrer le nom du responsable"
						value="#{mbStorage.connectedStorage.respuser}">
							<f:facet name="prepend">
								<b:iconAwesome name="user"/>
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpRespuser"/>
					</b:column>
				</b:row>
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nombre Emplacement" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Nombre Emplacement" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
						id="inpPlace" 
						placeholder="Veuillez entrer le nombre d'emplacement"
						value="#{mbStorage.connectedStorage.placeall}">
							<f:facet name="prepend">
								<b:iconAwesome name="archive" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpPlace"/>
					</b:column>
				</b:row>
	
				<b:row>
					<b:column style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Description" />
					</b:column>
					<b:column style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Description" />
					</b:column>
					<b:column style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputTextarea 
						id="inpMemo" 
						placeholder="Veuillez entrer votre description"
						value="#{mbStorage.connectedStorage.memo}">
							<f:facet name="prepend">
								<b:iconAwesome name="pencil" />
							</f:facet>
						</b:inputTextarea>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpMemo"/>
					</b:column>
				</b:row>			
				<b:row>
					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<p:commandButton 
						style-class="cat-width-100"
						value="Créer" 
						action="#{mbStorage.insert()}"
						/>
					</b:column>
<!-- 					<b:column style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-xs-10 col-sm-10 col-md-4">
						<p:commandButton 
						style-class="cat-width-100"
						value="Modifier" 
					</b:column> -->
				</b:row>
			</b:panel> 
		</h:form>				
	</ui:define>	
</ui:composition>
</html>