<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>User Update</title>
		<f:metadata>
			<f:event listener="#{mbLogin.connect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">	 
    <h:form header="Modification"
                 id="userUpdateForm" 
                 value = "#{mbLogin.user}">
        <b:alert severity="success">
	        <strong>Hello! #{mbLogin.user.login}! </strong> Please enter your update infos.
	    </b:alert>
	    <ul>
			    	<li >
					     <h:outputText value = "Type d'Utilisateur" />                           				                    
                         <h:inputText id="inpUsertype" value = "#{mbLogin.user.usertype}" />
					</li>
					<li >                 
                         <h:outputText value = "Numero telephone" />                           				
                         <h:inputText id="inpPhone" value = "#{mbLogin.user.phone}" />
                    </li>                     
					<li >                    
                         <h:outputText value = "Description" />                           				
                         <h:inputTextarea id="inpMemo" value = "#{mbLogin.user.memo}" />
                    </li>                     
                         <p:commandButton label= "Enregistrer" 
                                    value = "Enregistrer" 
                                    action = "#{mbLogin.change()}" />                                                                       
           </ul>
     </h:form> 
	</ui:define>
</ui:composition>
</html>