<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>My Space</title>
		<f:metadata>
			<f:event listener="#{mbLogin.connect()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">	 
	<h:form id="userForm">
	    <b:alert severity="success">
	        <strong>Hello! #{mbLogin.user.login}! </strong> You successfully enter your own space.
	    </b:alert>
        <b:dataTable value="#{mbLogin.user}"
               var="cUser">
             <b:dataTableColumn value="#{cUser.getId()}" label="Id User"/>
             <b:dataTableColumn value="#{cUser.getLogin()}" label="Identifiant"/>
             <b:dataTableColumn value="#{cUser.getUsertype()}" label="Type"/>
             <b:dataTableColumn value="#{cUser.getPhone()}" label="Telephone"/>
             <b:dataTableColumn value="#{cUser.getMemo()}" label="Description"/>
             <b:dataTableColumn label="Storage(s)" >
                   <p:commandButton icon="pi pi-search" value = "My Storage(s)" action = "storageView"/>
             </b:dataTableColumn>
             <b:dataTableColumn label="Product(s)" >
                   <p:commandButton icon="pi pi-search" value = "My Product(s)" action = "productView" /> 
             </b:dataTableColumn>
             <b:dataTableColumn label="Edit" >
                  <p:commandButton icon="pi pi-check" styleClass="ui-button-success" value = "Update" action = "userUpdate" />
                     
                  <p:commandButton icon="pi pi-times" styleClass="ui-button-danger" value = "Delete" action = "#{mbLogin.clearUp()}" /> 
                                     
             </b:dataTableColumn>
        </b:dataTable>
     </h:form>
	</ui:define>
</ui:composition>
</html>