.blockPage {
	opacity: 0 !important;
}

.cat-padding-1rem {
	padding: 1rem !important;
}

.cat-width-100 {
	width: 100% !important;
}

.cat-top-1rem {
	position: relative !important;
	top: 1rem !important;
}

.cat-header {
	min-height: 10rem !important;
	background-color: #575775 !important;
}

.cat-content {
	min-height: calc(100vh - 20rem) !important;
}

.cat-footer {
	min-height: 10rem !important;
	background-color: #575775 !important;
}

.cat-flex-justify-content {
	display: flex !important;
	justify-content: center !important;
}

.cat-flex-align-items {
	display: flex !important;
	align-items: center !important
}

.button-create {
        display: inline-block;
        background-color: #7b38d8;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: milk;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
 }